p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}



.center {
    text-align: center;
}

.prop{
  color: #26b95d;
  font-variant: small-caps;
  display: inline;
}

.observ{
  color: #1FD1D9;
  font-variant: small-caps;
  display: inline;
}

.important{
  color: red;
  display:inline;
  font-variant: small-caps;
}

.definition{
  color: blue;
  display:inline;
  font-variant: small-caps;
}

.box{
  padding: 30px;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 2px solid gray;
}

.dem {
  padding: 30px;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  background-color: #e0e0e0;
  font-size: 0.99em;
  color: black;
}


.r-code{
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  background-color: #F2F2F2;
  font-size: 0.99em;
  font-family: "Courier", monospace;
}

.example{
  color: black;
  padding: 30px;
  margin: 10px;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  background-color: #D0D0D0;
  font-size: 0.99em;
}

.example-sol{
  padding: 10px;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  background-color: #F0F0F0;
  font-size: 0.99em;
}

.exercise{
  color: black;
  margin: 10px;
  padding: 30px;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  background-color: #B0B0B0;
  font-size: 0.99em;
}

.exercise-sol{
  padding: 10px;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  background-color: #F0F0F0;
  font-size: 0.99em;
}

.phototext{
  font-size: 0.7em
}

